import 'package:flutter/material.dart';
import 'package:flutter/services.dart';
{%- for import_stmt in form.imports %}
{{ import_stmt }}
{%- endfor %}

/// Form widget for {{ form.name }}
class {{ form.name }}Form extends StatefulWidget {
  final void Function(Map<String, dynamic>)? onSubmit;
  final Map<String, dynamic>? initialValues;
  final bool showValidationErrors;
  {%- if form.props %}
  {%- for prop in form.props %}
  final {{ prop.type }} {{ prop.name }};
  {%- endfor %}
  {%- endif %}

  const {{ form.name }}Form({
    Key? key,
    this.onSubmit,
    this.initialValues,
    this.showValidationErrors = true,
    {%- if form.props %}
    {%- for prop in form.props %}
    required this.{{ prop.name }},
    {%- endfor %}
    {%- endif %}
  }) : super(key: key);

  @override
  State<{{ form.name }}Form> createState() => _{{ form.name }}FormState();
}

class _{{ form.name }}FormState extends State<{{ form.name }}Form> {
  final _formKey = GlobalKey<FormState>();
  final Map<String, TextEditingController> _controllers = {};
  final Map<String, dynamic> _formData = {};
  {%- if form.focus_nodes %}
  final Map<String, FocusNode> _focusNodes = {};
  {%- endif %}

  @override
  void initState() {
    super.initState();
    
    // Initialize controllers and form data
    {%- for field in form.fields %}
    _controllers['{{ field.name }}'] = TextEditingController(
      text: widget.initialValues?['{{ field.name }}']?.toString() ?? '{{ field.default_value | default("") }}',
    );
    {%- if field.type != 'text' %}
    _formData['{{ field.name }}'] = widget.initialValues?['{{ field.name }}'] ?? {{ field.default_value | default("null") }};
    {%- endif %}
    {%- endfor %}

    {%- if form.focus_nodes %}
    // Initialize focus nodes
    {%- for field in form.fields %}
    _focusNodes['{{ field.name }}'] = FocusNode();
    {%- endfor %}
    {%- endif %}
  }

  @override
  void dispose() {
    // Dispose controllers
    _controllers.forEach((_, controller) => controller.dispose());
    {%- if form.focus_nodes %}
    // Dispose focus nodes
    _focusNodes.forEach((_, node) => node.dispose());
    {%- endif %}
    super.dispose();
  }

  void _handleSubmit() {
    if (_formKey.currentState!.validate()) {
      // Collect form data
      final data = <String, dynamic>{};
      {%- for field in form.fields %}
      {%- if field.type == 'text' or field.type == 'number' %}
      data['{{ field.name }}'] = _controllers['{{ field.name }}']!.text;
      {%- else %}
      data['{{ field.name }}'] = _formData['{{ field.name }}'];
      {%- endif %}
      {%- endfor %}

      // Call onSubmit callback
      widget.onSubmit?.call(data);
    }
  }

  {%- if form.validators %}
  // Validators
  {%- for validator in form.validators %}
  String? _validate{{ validator.name | capitalize }}(String? value) {
    {{ validator.body | indent(4) }}
  }
  {%- endfor %}
  {%- endif %}

  @override
  Widget build(BuildContext context) {
    final theme = Theme.of(context);

    return Form(
      key: _formKey,
      autovalidateMode: widget.showValidationErrors 
        ? AutovalidateMode.onUserInteraction 
        : AutovalidateMode.disabled,
      child: Column(
        crossAxisAlignment: CrossAxisAlignment.stretch,
        children: [
          {%- for field in form.fields %}
          {%- if field.type == 'text' %}
          TextFormField(
            controller: _controllers['{{ field.name }}'],
            {%- if form.focus_nodes %}
            focusNode: _focusNodes['{{ field.name }}'],
            {%- endif %}
            decoration: InputDecoration(
              labelText: '{{ field.label }}',
              {%- if field.hint %}
              hintText: '{{ field.hint }}',
              {%- endif %}
              {%- if field.prefix_icon %}
              prefixIcon: Icon({{ field.prefix_icon }}),
              {%- endif %}
              {%- if field.suffix_icon %}
              suffixIcon: Icon({{ field.suffix_icon }}),
              {%- endif %}
            ),
            {%- if field.obscure_text %}
            obscureText: true,
            {%- endif %}
            {%- if field.max_length %}
            maxLength: {{ field.max_length }},
            {%- endif %}
            {%- if field.input_formatters %}
            inputFormatters: [
              {%- for formatter in field.input_formatters %}
              {{ formatter }},
              {%- endfor %}
            ],
            {%- endif %}
            {%- if field.validator %}
            validator: {{ field.validator }},
            {%- endif %}
            {%- if field.on_changed %}
            onChanged: (value) {
              {{ field.on_changed | indent(14) }}
            },
            {%- endif %}
          ),
          {%- elif field.type == 'number' %}
          TextFormField(
            controller: _controllers['{{ field.name }}'],
            {%- if form.focus_nodes %}
            focusNode: _focusNodes['{{ field.name }}'],
            {%- endif %}
            decoration: InputDecoration(
              labelText: '{{ field.label }}',
              {%- if field.hint %}
              hintText: '{{ field.hint }}',
              {%- endif %}
            ),
            keyboardType: TextInputType.numberWithOptions(
              decimal: {{ field.allow_decimal | default("true") }},
              signed: {{ field.allow_negative | default("true") }},
            ),
            inputFormatters: [
              FilteringTextInputFormatter.allow(
                RegExp(r'{{ field.regex | default("[0-9.-]") }}'),
              ),
            ],
            {%- if field.validator %}
            validator: {{ field.validator }},
            {%- endif %}
          ),
          {%- elif field.type == 'dropdown' %}
          DropdownButtonFormField<{{ field.item_type }}>(
            value: _formData['{{ field.name }}'],
            decoration: InputDecoration(
              labelText: '{{ field.label }}',
              {%- if field.hint %}
              hintText: '{{ field.hint }}',
              {%- endif %}
            ),
            items: {{ field.items }}.map<DropdownMenuItem<{{ field.item_type }}>>((item) {
              return DropdownMenuItem<{{ field.item_type }}>(
                value: item{{ field.value_getter | default("") }},
                child: Text(item{{ field.label_getter | default(".toString()") }}),
              );
            }).toList(),
            onChanged: ({{ field.item_type }}? newValue) {
              setState(() {
                _formData['{{ field.name }}'] = newValue;
              });
              {%- if field.on_changed %}
              {{ field.on_changed | indent(14) }}
              {%- endif %}
            },
            {%- if field.validator %}
            validator: (value) => {{ field.validator }}(value),
            {%- endif %}
          ),
          {%- elif field.type == 'checkbox' %}
          CheckboxListTile(
            title: Text('{{ field.label }}'),
            {%- if field.subtitle %}
            subtitle: Text('{{ field.subtitle }}'),
            {%- endif %}
            value: _formData['{{ field.name }}'] ?? false,
            onChanged: (bool? value) {
              setState(() {
                _formData['{{ field.name }}'] = value ?? false;
              });
              {%- if field.on_changed %}
              {{ field.on_changed | indent(14) }}
              {%- endif %}
            },
            controlAffinity: ListTileControlAffinity.{{ field.control_affinity | default("leading") }},
          ),
          {%- elif field.type == 'radio' %}
          Column(
            crossAxisAlignment: CrossAxisAlignment.start,
            children: [
              Text(
                '{{ field.label }}',
                style: theme.textTheme.titleSmall,
              ),
              ...{{ field.options }}.map<Widget>((option) {
                return RadioListTile<{{ field.option_type }}>(
                  title: Text(option{{ field.label_getter | default(".toString()") }}),
                  value: option{{ field.value_getter | default("") }},
                  groupValue: _formData['{{ field.name }}'],
                  onChanged: ({{ field.option_type }}? value) {
                    setState(() {
                      _formData['{{ field.name }}'] = value;
                    });
                    {%- if field.on_changed %}
                    {{ field.on_changed | indent(20) }}
                    {%- endif %}
                  },
                );
              }).toList(),
            ],
          ),
          {%- elif field.type == 'date' %}
          InkWell(
            onTap: () async {
              final date = await showDatePicker(
                context: context,
                initialDate: _formData['{{ field.name }}'] ?? DateTime.now(),
                firstDate: {{ field.first_date | default("DateTime(1900)") }},
                lastDate: {{ field.last_date | default("DateTime(2100)") }},
              );
              if (date != null) {
                setState(() {
                  _formData['{{ field.name }}'] = date;
                  _controllers['{{ field.name }}']!.text = 
                    {{ field.date_format | default("date.toString().split(' ')[0]") }};
                });
              }
            },
            child: AbsorbPointer(
              child: TextFormField(
                controller: _controllers['{{ field.name }}'],
                decoration: InputDecoration(
                  labelText: '{{ field.label }}',
                  suffixIcon: Icon(Icons.calendar_today),
                ),
                {%- if field.validator %}
                validator: {{ field.validator }},
                {%- endif %}
              ),
            ),
          ),
          {%- elif field.type == 'custom' %}
          {{ field.widget }},
          {%- endif %}
          {%- if not loop.last %}
          SizedBox(height: {{ form.field_spacing | default(16) }}),
          {%- endif %}
          {%- endfor %}
          
          {%- if form.show_submit_button | default(true) %}
          SizedBox(height: {{ form.button_spacing | default(24) }}),
          ElevatedButton(
            onPressed: _handleSubmit,
            style: ElevatedButton.styleFrom(
              padding: EdgeInsets.symmetric(vertical: {{ form.button_padding | default(16) }}),
            ),
            child: Text('{{ form.submit_text | default("Submit") }}'),
          ),
          {%- endif %}
        ],
      ),
    );
  }
}